.feature-slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Adjust the space between each feature slider as needed */
}

.feature-label {
  color: #ffffff; /* This sets the label color to white */
  flex-grow: 1; /* Ensures label takes up the required space */
  margin-right: 20px; /* Adjust space between feature name and slider */
  text-align: left; /* Align the text to the left, closer to the slider */
  font-size: 1rem; /* Adjust font size as needed */
}

.feature-range-input {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #ddd; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (cross-browser) */
  -webkit-transition: opacity .2s; /* Transition for hover effect */
  transition: opacity .2s;
}

.feature-range-input:hover {
  opacity: 1; /* Fully opaque on hover */
}

.feature-value {
  margin-left: 10px; /* Space between slider and value */
  color: #61dafb; /* Light blue color */
  font-weight: bold;
}
